:root {
   --main_color: #2196F3;
   --dark_color: #212121;
   --light_color: #FFFFFF;
   --second_light_color: #757575;
   --second_dark_color: #000000;
   --first_light_color: #ECECEC;
   --shadow_dark_color: #2F303A;
   --shadw_light_color: #F5F4FA;
   --font-family: "Roboto", sans-serif;
   --second-family: "Raleway", sans-serif;
}

body {
   font-family: var(--font-family);
   font-size: 14px;
   letter-spacing: 0.03em;
   font-weight: 700;
   color: var(--light_color);
}
.container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   /* border: 5px solid tomato; */
   outline: 1px dashed tomato;
}
.nav-list,
.nav,.nav-p,
.features-list,
.wat-we-do-list,
.team-list,
.flex,.container-p {
    display: flex;
    align-items: center;
    outline: 1px dashed red;
 
}

.header {
   padding-top: 24px;
   padding-bottom: 25px;
}


.header-logo {
   margin-right: 93px;
   font-family: var(--second-family);
   font-weight: 700;
   font-size: 26px;
   letter-spacing: 0.03em;
   color: var(--second_dark_color);
}

.logo-span {
   font-family: var(--second-family);
   font-weight: 700;
   font-size: 26px;
   letter-spacing: 0.03em;
   color: var(--main_color);
}

.nav-list {
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 14px;
   letter-spacing: 0.02em;
   color: var(--second_dark_color);
}

.address-list {
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 14px;
   letter-spacing: 0.02em;
   color: var(--shadw_light_color);

}
.address-link {
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: var(--second_light_color);
}


.header-logo:hover {
   color: var(--main_color);
}
.nav,.nav-p{
   margin-right:  344px;;
}

.nav-link:hover {
   color: var(--main_color);
}
.nav-item:not(:last-child) {
   margin-right: 50px;
 }


.address-link:hover {
   color: var(--main_color);
}

.contact-item:not(:last-child) {
   margin-right: 50px;
 }
 
.hero {
   padding-top: 200px;
   padding-bottom: 200px;
   background-color: var(--shadow_dark_color)
}

.hero-title {
   font-family: var(--font-family);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   text-align: left;
   color: var(--light_color);
}
.flex-hero{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.team {
   background-attachment: var(--shadw_light_color);
}

.hero-button {
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   text-align: left;
   color: var(--light_color);
   background-color: var(--main_color);
}

.features {
   padding-top: 94px;
   padding-bottom: 0;
}

.features-title {
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--dark_color);
}

.features-list {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--second_light_color);
}

.wat-we-do {
   padding-top: 94px;
   padding-bottom: 94px;
}

.wat-we-do-title {
   padding-bottom: 50px;
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 36px;
   letter-spacing: 0.03em;
   text-align: center;
   color: var(--dark_color);
}
.wat-we-do-item:not(:last-child){
   margin-right: 30px;

}

.team {
   padding-top: 94px;
   padding-bottom: 94px;
   background-color: #F5F4FA;
}
.team-item:not(:last-child){
   margin-right: 30px;

}
.team-item{
    width: 270px;
    height: 368px;
    background-color: var(--light_color);
}


.team-title {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 16px;
   letter-spacing: 0.03em;
   text-align: left;
   color: var(--dark_color);
}

.team-hero-title {
   padding-bottom: 50px;
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 36px;
   letter-spacing: 0.03em;
   text-align: center;
   color: var(--dark_color);
}

.team-description {
   display: flex;
   justify-content: center;
   margin-top: 30px;
   margin-bottom: 10px;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   letter-spacing: 0.03em;
   text-align: left;
   color: var(--second_light_color);
}

.footer {
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: var(--shadow_dark_color);
}

.footer-logo {
   font-family: var(--second-family);
   font-weight: 700;
   font-size: 26px;
   letter-spacing: 0.03em;
   color: var(--light_color);
}

.footer-span {
   font-family: var(--second-family);
   font-weight: 700;
   font-size: 26px;
   letter-spacing: 0.03em;
   color: var(--main_color);
}
.footer-item:not(:last-child){
   margin-bottom: 10px;
}


.address-discription {
   margin-bottom: 10px;
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--light_color);
}
.address-item{
   margin-bottom: 10px;
}

.footer-logo:hover {
   color: var(--main_color);
}

.footer-link:hover {
   color: var(--main_color);
}

.nav-link {
   color: var(--second_dark_color);
}

.footer-link {
   color: var(--second_light_color);
}
.portfolio-button-list{
  outline: 1px dashed red;
  margin-top: 94px;
  margin-bottom: 34px;


}
.portfolio-button {
  
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;
   text-align: center;
   color: var(--dark_color);
   margin-right: 8px;
   
}
.portfolio-button:hover {
   color: var(--light_color);
   background-color: var(--main_color);
}

.portfolio-description {
   font-family: var(--font-family);
   font-weight: 400;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.03em;
   color: var(--second_light_color);
}

.portfolio-title {
   font-family: var(--font-family);
   font-weight: 700;
   font-size: 18px;
   line-height: 2.0;
   letter-spacing: 0.06em;
   color: var(--dark_color);
}

  .portfolio-wrap {
   display: flex;
   flex-wrap: wrap;
   outline: 1px solid black;
   gap: 30px;
}
.portfolio-flex {
   display: flex;
   justify-content: center;
}
.portfolio-item{
   width: 370px;
   height: 404px;
   border: 1px solid #eee;
   outline: 1px dotted orange;
}
.portfolio-box{
   padding: 24px;
}
